@import 'src/common/consts';

.container {
    min-width: $contentBlockWidth;
    max-width: $contentBlockWidth;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    //border: 2px dotted $darkGray;
    color: $gray;
    position: relative;

    &.noBorder {
        border: none;
    }

    & > * {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}