@import 'src/common/consts';

.container {
    min-width: $contentBlockWidth;
    max-width: $contentBlockWidth;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: $mediumOffset;
    border: 2px dotted $darkGray;
    overflow: auto;
    color: $gray;

    &.noBorder {
        border: none;
    }

    & > * {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}