@import "src/common/consts";

.removeFetch {
    opacity: .4;
    pointer-events: none;
}

.addFetch {
    color: green !important;
}

.deleteButton {
    top: -5px;
    right: -5px;

    &:hover {
        background: $red;
        color: $white;
    }
}