@import 'src/common/consts';

.container {
    min-width: $contentBlockWidth;
    max-width: $contentBlockWidth;
    height: 100%;
    background: $darkGray;

    display: flex;
    justify-content: center;
    align-items: center;
    color: $gray;
}