@import 'src/common/consts';

.container {
    width: 100vw;
    margin-top: $mediumOffset;
    height: $mediumRowHeight;
    display: flex;
    justify-content: center;
    align-items: center;

    & > * {
        margin-right: $mediumOffset;

        &:first-child {
            margin-left: $mediumOffset;
        }
    }
}