@import './src/common/consts';

.container {
    position: relative;

    .button {
        min-width: 80px;
        max-width: 80px;
        height: $mediumRowHeight;

        &:hover {
            background: $darkGray !important;

            & .text {
                color: $white;
            }
        }

        & .text {
            transition: .1s;
            color: $gray;
        }
    }

    & .dropdown {
        width: 90px;
        top: calc(100% + #{$smallOffset});
        left: 0;
        z-index: 3;

        & .dropButton {

        }
    }
}