$darkGray: #212126; // 1f1f1f
$gray: #424252; // 424242
$liteGray: #57586b; // 57585b
$whiteGray: #77788b; // 77787b
$darkBlue: #242531; // 242526
$blue: #0277bd; // 0277bd
$green: #9acd32; // 9acd32
$orange: #ffa500; // ffa500
$white: #ece9ec; // ece9ec

$defaultBoxShadow: 0 4px 10px -4px rgb(0 0 0 / 35%);

$smallRowHeight: 30px;
$mediumRowHeight: 40px;
$bigRowHeight: 50px;