@import "./src/common/consts";

.button {
    display: inline-flex;
    background: transparent;
    border: 2px dotted $gray;
    transition: .1s;
    padding: 0 10px;
    width: $smallRowHeight;
    min-width: $smallRowHeight;
    max-width: $smallRowHeight;
    height: $smallRowHeight;
    align-items: center;
    justify-content: center;
    pointer-events: none;

    &.active {
        color: $gray;
        font-weight: bold;
        cursor: pointer;
        pointer-events: auto;

        &:hover {
            color: $white;
            background: $blue;
            border: 2px dotted transparent;
        }
    }

    &.always {
        background: $blue;
        cursor: pointer;
        color: $white;
        border: 2px dotted transparent;;

        &:hover {
            box-shadow: $defaultBoxShadow;
        }
    }

    &.loading {
        animation: OpacityChanger .5s Infinite ease-in-out;
        pointer-events: none;
    }
}