@import "./src/common/consts";

@keyframes OpacityChanger {
    0% {
        opacity: .8;
    }
    50% {
        opacity: .3;
    }
    100% {
        opacity: .8;
    }
}

.button {
    display: inline-flex;
    background: $darkGray;
    transition: .1s;
    padding: 0 10px;
    width: $smallRowHeight;
    min-width: $smallRowHeight;
    max-width: $smallRowHeight;
    height: $smallRowHeight;
    align-items: center;
    justify-content: center;
    pointer-events: none;

    &.active {
        color: $white;
        cursor: pointer;
        pointer-events: auto;

        &:hover {
            background: $blue;
        }
    }

    &.always {
        background: $blue;
        cursor: pointer;
        color: $white;

        &:hover {
            box-shadow: $defaultBoxShadow;
        }
    }

    &.loading {
        animation: OpacityChanger .5s Infinite ease-in-out;
        pointer-events: none;
    }
}