@import "/src/common/consts";

.button {
    display: inline-flex;
    font-size: $mediumFontSize;
    color: $whiteGray;
    background: $darkGray;
    transition: .1s;
    padding: 0 10px;
    height: $smallRowHeight;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    position: relative;

    &.active {
        color: $white;
        cursor: pointer;
        pointer-events: auto;

        &:hover {
            background: $blue;
        }
    }

    &.always {
        background: $blue;
        cursor: pointer;
        color: $white;

        &:hover {
            box-shadow: $defaultBoxShadow;
        }
    }

    &.loading {
        opacity: .4;
        pointer-events: none;
    }
}