@import "/src/common/consts";

.button {
    display: inline-flex;
    font-size: $mediumFontSize;
    color: $gray;
    background: $darkGray;
    transition: .1s;
    padding: 0 10px;
    height: $smallRowHeight;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    position: relative;
    user-select: none;

    &.active {
        color: $whiteGray;
        cursor: pointer;
        pointer-events: auto;

        &:hover {
            color: $white;
            background: $blue;
        }
    }

    &.always {
        background: $blue;
        cursor: pointer;
        color: $white;

        &:hover {
            color: $white;
            box-shadow: $defaultBoxShadow;
        }
    }

    &.loading {
        animation: OpacityChanger .5s Infinite ease-in-out;
        pointer-events: none;
    }
}